In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv"

alunos = pd.read_csv(url)

### 1) Verifique se a base de dados possui dados nulos e, caso tenha, realize o tratamento desses dados nulos da forma que achar mais coerente com a situação.

In [5]:
alunos.head()

alunos.isna().sum()

Nome        0
Idade       0
Notas       6
Aprovado    0
dtype: int64

#### 1.1 Removendo dados nulos

In [8]:
mediaNotas = alunos.Notas.mean()

alunos.Notas.fillna(mediaNotas, inplace=True)

alunos.isna().sum()

Nome        0
Idade       0
Notas       0
Aprovado    0
dtype: int64

### 2) Os alunos "Alice" e "Carlos", não fazem mais parte da turma. Sendo assim, remova-os da base de dados.

### 2.1 Selecionar alunos a remover

In [16]:
alunosARemover = alunos.query("Nome in ['Alice', 'Carlos'] ") 

alunosARemover

     Nome  Idade  Notas  Aprovado
7  Carlos     19    6.0      True
8   Alice     35    5.6     False

### 2.2 Remover alunos

In [18]:
alunos.drop(alunosARemover.index, axis=0, inplace=True)

### 3) Aplique um filtro que selecione apenas os alunos que foram aprovados.

In [43]:
aprovados = alunos.query("Aprovado")

### 4) Salve o DataFrame que possui apenas os alunos aprovados em um arquivo csv chamado "alunos_aprovados.csv".

In [24]:
aprovados.to_csv('alunos_aprovados.csv')

#### Extra: Ao conferir as notas dos alunos aprovados, notamos que algumas notas estavam incorretas. As alunas que tiraram nota 7.0, na verdade, tinham um ponto extra que não foi contabilizado. Sendo assim, substitua as notas 7.0 da base de dados por 8.0.

In [44]:
aprovados = aprovados.Notas.replace(7, 8)

aprovados

0      7.5
4     10.0
6      8.0
12     9.5
13     9.0
15     8.0
17     8.0
Name: Notas, dtype: float64